# Project 2 : Programming for Data Analyis

### Import python libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import scipy
from scipy.stats import norm
import math
import seaborn as sns
import matplotlib.pyplot as plt

### Import dataset : CO2 data from Luthi et al. 2008 Nature Paper

In [2]:
df = pd.read_excel('./41586_2008_BFnature06949_MOESM31_ESM.xls')
df

,Dome C (611-800 kyr BP),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Lüthi et al. (sub),NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University of Bern,NaN,NaN,NaN,LGGE in Grenoble,NaN,NaN
...,...,...,...,...,...,...,...
248,3187.87,794608,199.4,1.7,NaN,NaN,NaN
249,3188.23,795202,195.2,2,NaN,NaN,NaN
250,3188.98,796467,189.3,2.1,NaN,NaN,NaN
251,3189.33,797099,188.4,1.4,NaN,NaN,NaN
252,3190.08,798512,191,2.2,NaN,NaN,NaN